<%= form_for(@manufacturer) do |f| %>
  <% if @manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cnpj ,"CNPJ"%><br>
    <%= f.text_field :cnpj %>
  </div>
  <div class="actions">
    <%= f.submit "Gravar",:class=>"btn  btn-success"%>
<% end %>
