<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name ,'Nome'%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street_adress,'Logradouro' %><br>
    <%= f.text_field :street_adress %>
  </div>
  <div class="field">
    <%= f.label :city,'Cidade' %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state,"Estado" %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code,"CEP" %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="actions">
    <%= f.submit "Gravar",:class=>'btn btn-success' %>
<% end %>
