<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @transaction.kind %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transaction.location_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @transaction.upc %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @transaction.unit_cost %>
</p>

<p>
  <strong>Unit sale:</strong>
  <%= @transaction.unit_sale %>
</p>

<p>
  <strong>Ammount:</strong>
  <%= @transaction.ammount %>
</p>

<p>
  <strong>Average cost:</strong>
  <%= @transaction.average_cost %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @transaction.reason %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @transaction.serial_number %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type_id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
